<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Govorun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Govorun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Govorun.Properties.Settings>
            <setting name="DebugDbName" serializeAs="String">
                <value>C:\Databases\LiteDB\Govorun\GovorunDebug.litedb</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>C:\Databases\LiteDB\Govorun\Govorun.litedb</value>
            </setting>
            <setting name="PlayerVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LastBookId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadLastBook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NavAuthorFullName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BookListAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookInfoAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChaptersAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookmarksAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveMainWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveBookWindowsLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveBookInfoWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookInfoPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BookInfoSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveChaptersWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChaptersPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ChaptersSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveBookmarksWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookmarksPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BookmarksSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveAuthorWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuthorPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AuthorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveCycleWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CyclePos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CycleSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Govorun.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Govorun.Properties.Settings>
            <setting name="PresetLoadLastBook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresetNavAuthorFullName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresetBookListAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetBookInfoAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetChaptersAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetBookmarksAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveMainWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveBookInfoWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveChaptersWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveBookmarksWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveAuthorWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveCycleWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
        </Govorun.Properties.Settings>
    </applicationSettings>
</configuration>