<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Govorun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Govorun.Properties.Settings>
            <setting name="DebugDbName" serializeAs="String">
                <value>C:\Databases\LiteDB\Говорун\GovorunDebug.db</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>C:\Databases\LiteDB\Говорун\Govorun.db</value>
            </setting>
            <setting name="PlayerVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LastBook" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadLastBook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NavAuthorFullName" serializeAs="String">
                <value>True</value>
            </setting>
        </Govorun.Properties.Settings>
    </userSettings>
</configuration>