<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Govorun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Govorun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Govorun.Properties.Settings>
            <setting name="DebugDbName" serializeAs="String">
                <value>C:\Databases\LiteDB\Govorun\GovorunDebug.litedb</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>C:\Databases\LiteDB\Govorun\Govorun.litedb</value>
            </setting>
            <setting name="PlayerVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LoadLastBook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NavPanelAuthorFullName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BooksListAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookWindowsAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveMainWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveBookWindowsLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BookInfoPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BookInfoSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ChaptersPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ChaptersSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BookmarksPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BookmarksSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveAuthorWindowSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AuthorWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveCycleWindowSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CycleWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveAuthorEditorSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AuthorEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveCycleEditorSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CycleEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Govorun.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Govorun.Properties.Settings>
            <setting name="PresetLoadLastBook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresetNavPanelAuthorFullName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresetBooksListAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetBookWindowsAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveMainWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveBookWindowsLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresetSaveAuthorWindowSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresetSaveCycleWindowSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresetSaveAuthorEditorSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresetSaveCycleEditorSize" serializeAs="String">
                <value>True</value>
            </setting>
        </Govorun.Properties.Settings>
    </applicationSettings>
</configuration>